@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9216%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9216%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9216%;
    --primary: 0 0% 45.0980%;
    --primary-foreground: 0 0% 98.0392%;
    --secondary: 0 0% 96.0784%;
    --secondary-foreground: 0 0% 9.0196%;
    --muted: 0 0% 96.0784%;
    --muted-foreground: 0 0% 44.3137%;
    --accent: 0 0% 96.0784%;
    --accent-foreground: 0 0% 9.0196%;
    --destructive: 357.1429 100% 45.2941%;
    --destructive-foreground: 0 0% 96.0784%;
    --border: 0 0% 89.8039%;
    --input: 0 0% 89.8039%;
    --ring: 0 0% 63.1373%;
    --chart-1: 0 0% 45.0980%;
    --chart-2: 0 0% 45.0980%;
    --chart-3: 0 0% 45.0980%;
    --chart-4: 0 0% 45.0980%;
    --chart-5: 0 0% 45.0980%;
    --sidebar: 0 0% 98.0392%;
    --sidebar-foreground: 0 0% 3.9216%;
    --sidebar-primary: 0 0% 9.0196%;
    --sidebar-primary-foreground: 0 0% 98.0392%;
    --sidebar-accent: 0 0% 96.0784%;
    --sidebar-accent-foreground: 0 0% 9.0196%;
    --sidebar-border: 0 0% 89.8039%;
    --sidebar-ring: 0 0% 63.1373%;
    --font-sans: Geist, sans-serif;
    --font-serif: Geist, sans-serif;
    --font-mono: Geist Mono, monospace;
    --radius: 0rem;
    --shadow-x: 0px;
    --shadow-y: 1px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 0;
    --shadow-color: hsl(0 0% 0%);
    --shadow-2xs: 0px 1px 0px 0px hsl(0 0% 0% / 0.00);
    --shadow-xs: 0px 1px 0px 0px hsl(0 0% 0% / 0.00);
    --shadow-sm: 0px 1px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
    --shadow: 0px 1px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
    --shadow-md: 0px 1px 0px 0px hsl(0 0% 0% / 0.00), 0px 2px 4px -1px hsl(0 0% 0% / 0.00);
    --shadow-lg: 0px 1px 0px 0px hsl(0 0% 0% / 0.00), 0px 4px 6px -1px hsl(0 0% 0% / 0.00);
    --shadow-xl: 0px 1px 0px 0px hsl(0 0% 0% / 0.00), 0px 8px 10px -1px hsl(0 0% 0% / 0.00);
    --shadow-2xl: 0px 1px 0px 0px hsl(0 0% 0% / 0.00);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 0 0% 3.9216%;
    --foreground: 0 0% 98.0392%;
    --card: 0 0% 9.8039%;
    --card-foreground: 0 0% 98.0392%;
    --popover: 0 0% 14.9020%;
    --popover-foreground: 0 0% 98.0392%;
    --primary: 0 0% 45.0980%;
    --primary-foreground: 0 0% 98.0392%;
    --secondary: 0 0% 14.9020%;
    --secondary-foreground: 0 0% 98.0392%;
    --muted: 0 0% 14.9020%;
    --muted-foreground: 0 0% 63.1373%;
    --accent: 0 0% 25.0980%;
    --accent-foreground: 0 0% 98.0392%;
    --destructive: 358.8387 100% 69.6078%;
    --destructive-foreground: 0 0% 14.9020%;
    --border: 0 0% 21.9608%;
    --input: 0 0% 32.1569%;
    --ring: 0 0% 45.0980%;
    --chart-1: 0 0% 45.0980%;
    --chart-2: 0 0% 45.0980%;
    --chart-3: 0 0% 45.0980%;
    --chart-4: 0 0% 45.0980%;
    --chart-5: 0 0% 45.0980%;
    --sidebar: 0 0% 9.0196%;
    --sidebar-foreground: 0 0% 98.0392%;
    --sidebar-primary: 0 0% 98.0392%;
    --sidebar-primary-foreground: 0 0% 9.0196%;
    --sidebar-accent: 0 0% 14.9020%;
    --sidebar-accent-foreground: 0 0% 98.0392%;
    --sidebar-border: 0 0% 100%;
    --sidebar-ring: 0 0% 32.1569%;
    --font-sans: Geist, sans-serif;
    --font-serif: Geist, sans-serif;
    --font-mono: Geist Mono, monospace;
    --radius: 0rem;
    --shadow-x: 0px;
    --shadow-y: 1px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 0;
    --shadow-color: hsl(0 0% 0%);
    --shadow-2xs: 0px 1px 0px 0px hsl(0 0% 0% / 0.00);
    --shadow-xs: 0px 1px 0px 0px hsl(0 0% 0% / 0.00);
    --shadow-sm: 0px 1px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
    --shadow: 0px 1px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
    --shadow-md: 0px 1px 0px 0px hsl(0 0% 0% / 0.00), 0px 2px 4px -1px hsl(0 0% 0% / 0.00);
    --shadow-lg: 0px 1px 0px 0px hsl(0 0% 0% / 0.00), 0px 4px 6px -1px hsl(0 0% 0% / 0.00);
    --shadow-xl: 0px 1px 0px 0px hsl(0 0% 0% / 0.00), 0px 8px 10px -1px hsl(0 0% 0% / 0.00);
    --shadow-2xl: 0px 1px 0px 0px hsl(0 0% 0% / 0.00);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  -webkit-print-color-adjust: exact;
}

#__next {
  width: 100%;
  height: 100%;
}

.paper-a3-portrait {
  width: 297mm;
  height: 419mm;
}

.paper-a3-landscape {
  width: 420mm;
  height: 296mm;
}

.paper-a4-portrait {
  width: 210mm;
  height: 296mm;
}

.paper-a4-landscape {
  width: 297mm;
  height: 209mm;
}

.paper-a5-portrait {
  width: 148mm;
  height: 209mm;
}

.paper-a5-landscape {
  width: 210mm;
  height: 147mm;
}

.paper-letter-portrait {
  width: 216mm;
  height: 279mm;
}

.paper-letter-landscape {
  width: 280mm;
  height: 215mm;
}

.paper-legal-portrait {
  width: 216mm;
  height: 356mm;
}

.paper-legal-landscape {
  width: 357mm;
  height: 215mm;
}

/** Padding area **/
.paper-padding-5mm {
  padding: 5mm;
}

.paper-padding-10mm {
  padding: 10mm;
}

.paper-padding-15mm {
  padding: 15mm;
}

.paper-padding-20mm {
  padding: 20mm;
}

.paper-padding-25mm {
  padding: 25mm;
}

.text-vertical-rl {
  writing-mode: vertical-rl;
}

.perspective {
  transform: perspective(900px) rotateY(25deg) scale(0.9) rotateX(10deg);
  transition: 0.6s ease all;
}

.perspective:hover {
  transform: perspective(800px) rotateY(0deg) rotateX(0deg) scale(1);
  opacity: 1;
}

.elegant-shadow {
  box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
}

/** Dot pattern **/
.dot {
  opacity: 0.8;
  background-image: radial-gradient(#0000002d 0.5mm, #ffffff 0.5mm);
  background-size: 7mm 7mm;
}
